# Terraform
**/.terraform/
**/.terraform.lock.hcl
*.tfstate
*.tfstate.backup
*.tfplan
terraform.tfvars
*.auto.tfvars

# Ansible
*.retry
secrets.yml
tf_outputs.json

# Python
__pycache__/
*.pyc

# Kubeconfig
config-poc
config-ovh
kubeconfig.yml

# Clés SSH
*.pem

# IDE
.vscode/
.idea/
.ansible/
