# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.backup
*.tfplan

# Variables sensibles (tokens, secrets)
terraform.tfvars
*.auto.tfvars

# Clés SSH
*.pub
*.pem

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/