# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.backup
*.tfplan
terraform.tfvars
*.auto.tfvars

# Ansible
*.retry
secrets.yml

# Python
__pycache__/
*.pyc

# Clés SSH
*.pub
*.pem

# Kubeconfig
config-poc

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/.ansible/
